.main__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 69px auto;
}
@media (max-width: 1250px){
    .main__cards {

        margin: 0;
    }
}

.main__left-cards {
    flex-direction: column;
    align-items: center;
}

.main__right-cards {
    margin-left: 90px;
    flex-direction: column;
    align-items: center;
}

.main__card {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 533px;
    height: 331px;
    position: relative;
}

.main__card:first-of-type {
    margin: 0;
}

.main__card-bg-shadow {
    width: 90%;
    height: 84%;
    border-radius: 67px;
    box-shadow: 8px 8px 100px rgba(0, 0, 0, 0.16);
}

.main__card-headphones {
    top: -56px;
    left: -84px;
    position: absolute;
    z-index: 3;
}
.main__card-clock{
    top: -56px;
    right: -84px;
    position: absolute;
    z-index: 3;
    
}
.main__card-bg {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.main__card-blur-cylinder {
    z-index: 0;
    position: absolute;
    top: -64px;
    left: -134px;
}

.main__card-wave {
    z-index: 0;
    position: absolute;
    bottom: 29px;
    right: -90px;
}
.main__card-planes{
    z-index: 3;
    position: absolute;
    bottom: -51px;
    left: -10px;
}
.main__card-blur-big-triangle{
    z-index: 0;
    position: absolute;
    top: -101px;
    right: -235px;
}
.main__card-cylinder{
    z-index: 0;
    position: absolute;
    bottom:  -106px;
    left: 131px;
}
.main__card-sphere{
    z-index: 0;
    position: absolute;
    top:  -26px;
    left: 101px;
}
.main__card-text {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    margin: 0;
    z-index: 2;
    color: #FFFFFF;
    position: absolute;
    max-width: 363.17px;
    top: 85px;
    left: 107px;
    transform: rotate(1.11deg);
}

.main__card-text_left {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    margin: 0;
    z-index: 2;
    color: #FFFFFF;
    position: absolute;
    max-width: 363.17px;
    top: 80px;
    left: 61px;
    transform: rotate(-1.11deg);
}

.main__card-subtext_left {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
    z-index: 2;
    position: absolute;
    max-width: 363.17px;
    top: 188px;
    left: 66px;
    transform: rotate(-1.11deg);
}

.main__card-map {
    z-index: 2;
    position: absolute;
    bottom: -71px;
    left: -205px;
}

.main__card-blur-triangle {
    z-index: 0;
    position: absolute;
    bottom: -51px;
    right: -50px;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none
}