@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root {
    --main-blue: #4B75FC;
    font-family: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
}

body, #root {
    min-height: 100vh;
    height: fit-content;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    margin-right: 105px;
}

.menu {
    display: flex;
    gap: 46.5px;
    margin-right: auto;
}

.nav-right {
    display: flex;
    gap: 28px;
}

.nav-right button {
    font-size: 40px;
    background-color: var(--main-blue);
    border-radius: 34px;
    border: none;
    outline: none;
    padding: 12px 24px 16px 24px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.tariffTypeSwitch {
    display: flex;
    gap: 12px;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
} 

.tariffDivider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-auto-rows: 540px;
}

.priceInfo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    width: 100%;
    gap: 20px;
}

.tarif-settings  {
    display: flex;
    gap: 20px;
}

.tarif-settings .item {
    font-size: 50px;
    font-weight: bold;
}

._4Gswitch {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.44);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
}