@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~antd/dist/antd.css';

:root {
    font-family: 'Jost', sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  outline:  none;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

* {
    box-sizing: border-box;
}

body, #root {
    min-height: 100vh;
    height: fit-content;
}

.tariffTypeSwitch {
    display: flex;
    gap: 12px;
    margin: 20px 0 32px 0;
    max-width: 100%;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    margin-top: 25px;
} 

.tariffDivider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.priceInfo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tarif-settings  {
    display: flex;
    gap: 0 20px;
    width: 100%;
    flex-wrap: wrap;
}

.tarif-settings .item {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
}

._4Gswitch {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.44);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
}

@media (max-width: 1650px) {
    .tariffDivider {
        justify-content: flex-start;
        gap: 20px;
    }
}